body {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: rgb(58, 139, 58);
	text-align: center;
}

.hidden {
	display: none;
}

#draw-pile {
	position: absolute;
	top: 25%;
	right: 55%;
}

#draw-pile img {
	position: absolute;
}
